@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* Jonathan's Solution */

body {
  display:flex;
  flex-direction: column;
  min-height: 100vh;
  align-content: space-between;
}

.header {
 display: flex;
 justify-content: space-between;
}

.content {
  flex: 1;
  text-align: center;
  display:flex;
  flex-direction: column;
  align-items:center;
  justify-content: center;

}

.footer {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  background-color: #d3d3d3;
}

a {
  text-decoration: none;
  font-size: 14px;
  color:grey;
}

ul {
  list-style-type: none;
}

button {
  padding: 10px 15px;
}

.left-links, .right-links {
  display: flex;
  flex-direction: row;
  gap: 10px;
  padding-right: 30px;
}